{% extends '::base.html.twig' %}

{% block body %}
    <h1>Hi men</h1>
    <p>Checkout what you did in last 3 trainings</p>

    <table class="table table-bordered">
        <thead>
        <tr>
            {% for period in data|keys %}
                <th>{{ period|trans }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for exercises in data %}
                <td>
                    <ul class="list-unstyled">
                        {% for exercise in exercises %}
                            <li class="exercise">
                                <span class="workout">{{ exercise.description }}</span>
                                <span class="text-right details">
                                    <span class="label label-default weight">{{ exercise.weight }}kg</span>
                                    X
                                    <span class="label label-primary count">{{ exercise.count }}</span>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .exercise {
            line-height: 1.8em;
        }
        .workout,
        .details {
            display: inline-block;
        }
        .workout {
            width: 200px;
        }
        .details {
            width: 100px;
        }
    </style>
{% endblock %}